:root {
    font-size: 16px;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #232323;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

.navbar-container{
    position: fixed;
    background-color: var(--bg-primary);
    transition: width var(--transition-speed) ease;
    overflow: hidden;
    z-index: 100;
}



.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-item {
    width: 16rem;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: #FF3636;
}

.nav-icon{
    height: 4rem;
    width: 2.3rem;
    margin: 0 1.5rem;
}

.link-text{
    display: none;
    margin-left: 1rem;
    font-weight: bold;
}

.activated {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: #FF3636;
}

.navbar-logo {
    display: flex;
    align-items: center;
    justify-self: start;
    color: #fff;
    background: var(--bg-secondary);
    font-size: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    text-decoration: none;
}

.logo{
    width: 4.5rem;
    margin: 0.5rem;
    margin-right: 2rem;
}

span{
    color: #FF3636;
    font-weight: bold;
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar-container {
        bottom: 0;
        width: 100vw;
        height: 5rem;
      }
      .navbar-logo {
        display: none;
      }
      .nav-menu {
        flex-direction: row;
      }
      .nav-link {
        justify-content: center;
      }
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar-container {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    .navbar-container:hover {
        width: 16rem;
    }
    .navbar-container:hover .link-text {
        display: inline;
    }
}
